<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TopazCalibrationApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <TopazCalibrationApp.Properties.Settings>
            <setting name="PowerMeter_forward" serializeAs="String">
                <value />
            </setting>
            <setting name="PowerMeter_reflected" serializeAs="String">
                <value />
            </setting>
            <setting name="DDSStart" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DDSStop" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="DDSStep" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="CalForward" serializeAs="String">
                <value>True</value>
            </setting>
        </TopazCalibrationApp.Properties.Settings>
    </userSettings>
</configuration>